header {
    background: url('src/assets/header.webp');
    width: 100%;
    height: auto;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    border-radius: 0 0 85% 85% / 30%;
    text-align: center;
}

h1 {
    font-family: 'Dancing Script', cursive;
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}